.pad-10{
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.close-my {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close-my:hover,
.close-my:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.img-my {
    background-image: url("../img/library.jpg");
}