<%@ page contentType="text/html;charset=UTF-8"%>

<div  style="width: 100%; ">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
        <div style="float: left; margin-left: 100px">
            <a href="/Library" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <span class="fs-3" style="font-family: Andale Mono; font-weight:bold; color: #0d6efd">LIBRARY</span>
            </a>
        </div>

        <div style="text-align: center">
            <ul class="nav mb-2 justify-content-center mb-md-0" style="font-family: Andale Mono; font-size: large">
                <li><a href="books.jsp" class="nav-link px-2 link-dark"><fmt:message key="books"/></a></li>
                <c:if test="${not empty sessionScope.loggedUser and sessionScope.loggedUser.role eq 'Admin'}">
                    <li><a href="authors.jsp" class="nav-link px-2 link-dark"><fmt:message key="authors"/></a></li>
                    <li><a href="users.jsp" class="nav-link px-2 link-dark"><fmt:message key="users"/></a></li>
                </c:if>
                <c:if test="${not empty sessionScope.loggedUser and sessionScope.loggedUser.role ne 'Admin'}">
                    <li><a href="orders.jsp" class="nav-link px-2 link-dark"><fmt:message key="orders"/></a></li>
                </c:if>
                <c:if test="${not empty sessionScope.loggedUser and sessionScope.loggedUser.role eq 'Reader'}">
                    <li><a href="fines.jsp" class="nav-link px-2 link-dark"><fmt:message key="fines"/></a></li>
                </c:if>
                <c:if test="${not empty sessionScope.loggedUser}">
                <li><a href="profile.jsp" class="nav-link px-2 link-dark"><fmt:message key="profile"/></a></li>
                </c:if>
            </ul>
        </div>
        <div style="float: right; display: flex">
            <c:choose>
                <c:when test="${sessionScope.loggedUser eq null}">
                    <a href="signIn.jsp">
                        <button type="button" class="btn btn-outline-primary me-2">
                            <fmt:message key="sign.in.button"/></button>
                    </a>
                    <a href="signUp.jsp">
                        <button type="button" class="btn btn-primary">
                            <fmt:message key="sign.up.button"/></button>
                    </a>
                </c:when>
                <c:otherwise>
                    <form method="POST" action="controller">
                        <input type="hidden" name="command" value="sign-out">
                        <button type="submit" class="btn btn-outline-primary me-2">
                            <fmt:message key="sign.out.button"/></button>
                    </form>
                </c:otherwise>
            </c:choose>
            <div style=" margin-left: 15px">
                <a href="contactUs.jsp" class="nav-link px-2 link-dark">
                    <img src="img/contact.png" width="40px" height="40px" alt="Contact us"/>
                </a>
            </div>
            <form method="post" action="${localeAction}" style="padding-left: 20px; margin-right: 10px">
                <label>
                    <select class="form-select" data-width="fit" name="locale" onchange='submit()'>
                        <option value="en" ${sessionScope.locale == 'en' ? 'selected' : ''} >English</option>
                        <option value="ua" ${sessionScope.locale == 'ua' ? 'selected' : ''} >Українська</option>
                    </select>
                </label>
            </form>
        </div>
    </header>
</div>